*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body {
  background-image:  url("../images/bg3.png") ;
  background-attachment: fixed;
  background-size: 15%;

  color: #fff;
  background-color: linear-gradient(329.54deg, #dfe7e9 0%, #e0ecf0 100%);
}

body, input, button {
  font-family: 'Jaldi', sans-serif;
  font-size: 1.2em;
  font-weight:600;
  
   /*600 18px 'Nunito', sans-serif;*/
}

