*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: #fff;
  background: #ebf2f5
}

body, input, button {
  font-family: 'Jaldi', sans-serif;
  font-size: 1.2em;
  font-weight:600;
  
   /*600 18px 'Nunito', sans-serif;*/
}

