#page-Owners {
  display: flex;

  min-height: 100vh;
}

#page-Owners main{
  flex: 1;
  display: block;
  justify-content: center;
  align-items: center;
  
}

.owners-details {
  justify-items: center;
  width: 700px;
  margin: 60px auto;
  background: linear-gradient(180.54deg, #028ba3 0%, #12406a 100%);
  
  border: 1px solid #dee2e5;
  border-radius: 20px;
  
  overflow: hidden
}

.owners-details .title-clients {
  display: grid;
  grid-template-rows: 1fr;
  
}

.owners-details .title-clients h1 {
 
  font-size: 54px;
  font-weight: normal;
  margin: auto;
}

.owners-details .owners-details-content {
background-color: #FFFF;

margin: 8px auto;
margin-bottom: 10px;

padding: 15px 30px;
border-radius: 20px; 

width: 80%;
height: 150px;
}

.owners-details .owners-details-content .titular {
  display: grid;
  grid-template-rows: 2fr;
  justify-content: center;
  align-items: center;
  
}



.owners-details .owners-details-content h3{
  font-weight: normal;
  color: #1c7bae;
  
}

.owners-details .owners-details-content hr {
  
  height: 1px;
  border: 0 ;
  background: #3b7079;
  margin-bottom:  15px;
 
}

.owners-details .owners-details-content .owners-details-field {

  border: 1px solid #bec7c9 ;
  border-radius: 3px;
  background-color: rgba(252, 250, 249, 0.344);
 
  margin-bottom: 5px;


  display: flex;
  justify-content:space-between;
  align-items: center;

}

.owners-details .owners-details-content .owners-details-field h2 {

  font-size: 20px;
  line-height: 20px;
  color: rgba(109, 109, 109, 0.905);
  padding: 2px;
  padding-left: 10px;
}

.owners-details .owners-details-content .owners-details-field p {
  color:  #C96E23;/*rgba(148, 144, 144, 0.727);*/
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;

  padding: 2px;
  padding-right: 10px;
}





