#page-Pet {
  display: flex;
  min-height: 100vh;
}

#page-Pet main{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.pet-details {
  display: grid;
  grid-template-columns: 700px;
  grid-template-rows: 40Vh 60vh;
  background: linear-gradient(180.54deg, #028ba3 0%, #12406a 100%);
  border: 2px solid #dee2e5;
  border-radius: 20px;

  /*overflow: hidden*/
}

.pet-details #images-wrapper {
  background-color: chartreuse;
  margin: 10px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 1fr;
 
}

.pet-details #images-wrapper .images {
  background-color: crimson;
  margin: 5px;
  border-radius: 20px;
  grid-template-columns: 1fr;
/*
  overflow-x: auto;
  border-radius: 10px;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
*/
}

.pet-details #images-wrapper .images .item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cyan;
  border-radius: 20px;
  margin: 20px;
  scroll-snap-align: center;
}
.pet-details #images-wrapper img {
   border-radius: 20px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.pet-details .pet-details-content {
  background-color: chocolate;
  margin: 10px;
  border-radius: 20px;
  
}

.pet-details .pet-details-content h1{
  /*
  color: #12406a;
  font-size: 54px;
*/
}

.pet-details .pet-details-content h3{
  color: #1c7bae;

}

.pet-details .pet-details-content hr {
  /*
  height: 1px;
  border: 0 ;
  background: #028ba3;
  margin: 44px 0;
  */
}

.pet-details .pet-details-content .pet-details-field {
 /*
 border: 1px solid #bec7c9 ;


 background-color: rgba(252, 250, 249, 0.344);
*/

}

.pet-details .pet-details-content .pet-details-field p {
  color: rgba(148, 144, 144, 0.727)
}

.pet-details .pet-details-content .pet-details-field h2 {

  font-size: 36px;
  line-height: 36px;
  color: #517699;
}

.pet-details .pet-details-content button.contact-button {
  margin-top: 64px;

  width: 100%;
  height: 64px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  background: #3CDC8C;
  color: #FFFFFF;
  font-weight: 800;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: backgorund-color 0.2s;
}

.pet-details .pet-details-content button.contact-button svg {
  margin-right: 16px;
}

.pet-details .pet-details-content button.contact-button:hover {
  background: #33CF82;
}



/*
.pet-details > img {
  width: 40%;
  height: 300px;
  object-fit: cover;
  
  border-radius: 20px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pet-details .images {
  display: grid;
 
  grid-template-columns: repeat(6, 1fr);
  column-gap: 16px;
  

  
  border-radius: 20px;
  margin: 16px 40px 0px; 

}

.pet-details .images button {
  border: 0;
  height: 88px;
  background: none;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  outline: none;

  opacity: .6;
}

.pet-details .images button .active {
  opacity: 1;
}

.pet-details .images button img {
  width: 100%;
  height: 88px;
  object-fit: cover;
}
*/