aside.app-sidebar {
  position: fixed;
  height: 100%;
  width: 10%;
  padding: 56px 16px;
  background: linear-gradient(329.54deg, #12406a 10%, #04b0ce 100%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

aside.app-sidebar img {
  width: 100%;
  height: 100%;
  object-fit:cover;

}

aside.app-sidebar footer a,
aside.app-sidebar footer button {
  width: 48px;
  height: 48px;

  border: 0px;

  background: #10a44a;
  border-radius: 16px;

  cursor: pointer;

  transition: background-color 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
}

aside.app-sidebar footer a:hover,
aside.app-sidebar footer button:hover {
  background: #36CF82;
}